{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>{% block title %} {% endblock %} </title>
  </head>
  <body class="bg-light d-flex flex-column min-vh-100">
    {% include 'includes/header.html' %}
    <main>
      {% block content %} {% endblock %}
    </main>
    {% include 'includes/footer.html' %}
  </body>
  {% block add_script %} {% endblock %}
</html>